<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rakta_Seva">

        <!-- Splash Screen (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Rakta_Seva.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Landing Screen -->
        <activity
            android:name=".LandingActivity"
            android:exported="false" />

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- OTP Verification -->
        <activity
            android:name=".OtpActivity"
            android:exported="false" />

        <!-- Registration Step 1 -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Registration Step 2 -->
        <activity
            android:name=".RegisterStep2Activity"
            android:exported="false" />

        <!-- Main Screen with Bottom Navigation -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>